body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
}

/* NAVBAR */
.navbar {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #222;
}

/* HERO */
.hero {
  text-align: center;
  padding: 50px 20px;
}

.hero h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* PRODUCTS */
.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.product-card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  transition: 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

/* BUTTON */
button {
  background: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  background: #ccc;
}